<div class="container-fluid headerDiv">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-3 text-center"><a href="{{ path('app_home') }}"><img src="{{ asset('img/app/logo.png') }}" width="100"></a></div>
                <div class="col-6 text-center"><i class="fa fa-user" aria-hidden="true"></i> {{ header }}</div>
                <div class="col-3 text-center"><a href="{{ path('app_my_account') }}"><i class="fa fa-university" aria-hidden="true"></i> Mi cuenta</a> | <a href="{{ path('app_logout') }}"><i class="fa fa-door-open"></i> Salir</a></div>
            </div>
        </div>
    </div>
</div>